h1 {
    text-align: center;
    border-bottom: 0.1em solid;
    border-right: 0.1em dotted;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    background-color: dodgerblue;
    color: white;
    border-color: green;
    
}